{% load static %}
{% load i18n %}
{% load mptt_tags %}
{% load static %}
{% load i18n %}
{% load mathfilters %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<meta name="robots" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Dashboard </title>
		<!-- Favicon icon -->
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
		<link href="{% static 'd-assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
		<link href="{% static 'd-assets/css/style.css' %}" rel="stylesheet">
		<link href="{% static 'd-assets/mine/sweetalert2.min.css' %">
	
	</head>
	
	<body class="vh-100">
		<div class="authincation h-100">
			<div class="container h-100">
				<div class="row justify-content-center h-100 align-items-center">
					<div class="col-md-6">
						<div class="authincation-content">
							<div class="row no-gutters">
								<div class="col-xl-12">
									<div class="auth-form">
										<div class="text-center mb-3">
											<img src="{% static 'assets/images/logo.png' %}" alt="">
										</div>
										<h4 class="text-center mb-4">Sign in your account</h4>
										<form method="POST">
											{% csrf_token %}
											<div class="form-group">
												<label class="mb-1"><strong>Username</strong></label>
												{{form.username | add_class:"form-control" }}
											</div>
											<div class="form-group">
												<label class="mb-1"><strong>Password</strong></label>
												{{form.password | add_class:"form-control" }}
											</div>

											<div class="text-center">
												<button type="submit" class="btn btn-primary btn-block">Sign Me In</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<script src="{% static 'd-assets/vendor/global/global.min.js' %}"></script>
		<script src="{% static 'd-assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>


		<script src="{% static 'd-assets/mine/sweetalert2.all.min.js' %}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<script src="{% static 'd-assets/js/custom.min.js' %}"></script>
		<script src="{% static 'd-assets/js/deznav-init.js' %}"></script>
		{% block extra_js %}
		{% endblock extra_js %}
	
	
		{% load sweetify %}
		{% sweetify %}
	</body>
</html>