{% extends "landing/header.html" %}
{% load static %}
{% load i18n %}
{% load mathfilters %}
{% load widget_tweaks %}
{% block content %}
<div id="particles-js">
        
    <!-- banner start -->
    <section class="banner-sec" id="particles-js1">
   <div class="banner-item" style="background: url({% static 'assets/landing/images/background/banner_bg.jpg' %}) no-repeat center center /cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="banner-content">
                        <h1 class="banner-title">EOB Corporation</h1>
                        <p>
                            EOB Corporation was founded in 2016 by a highly-specialised team with backgrounds in Finance, FOREX and Technology. Created to help clients pursue their financial goals, we proudly offer transparent access to the FOREX market, powerful trading platforms (MT4 and MT5), exceptional execution speed, and award-winning customer service. </p> <p>

Given our strong background, we have always been able to offer superior access to global FOREX markets, which is why professional and retail traders are able to notice the remarkable difference between EOB Corporation and other companies.

We continually strive to evolve our offering to ensure that we deliver a service that is far superior to anything else on the market.

Smart traders make smart decisions, so become our client today and experience the difference. </p> <p>

It is our ambition for EOB Corporation to be a game-changer. We are going to change the industry for the better as our team possesses the combined experience and commitment needed to elevate the industry to another level. With the current global crisis having created a unique set of conditions in the Financial market, EOB Corporation represents an adaptation to an evolving market by fulfilling investors’ and traders’ new demands and expectations.

We are serious about the responsibilities to serving you with profits. This is not our mission, this is our promise.
                        </p>
                        <a href="#" class="btn btn-primary">Open a Trading Account</a>
                    </div>
                </div>
            </div>

            
        </div><!--  .cont  ainer END -->
     
   </div>
</section>    <!-- banner section end -->

    <div class="featured-area">
    
        <div class="blockcain-and-featured-area" >
            
            <!-- blockcain section start -->
            <section class="blockcain-top-sec">
  <div class="container">
      <div class="row">
          <div class="col-md-3 wow fadeInUp" data-wow-duration="1.5s">
              <div class="blockcain-top">
                  <h2 class="column-title">Our Values</h2>
              </div>
          </div><!-- col end -->
          <div class="col-md-8 offset-md-1 wow fadeInUp" data-wow-duration="2s">
              <div class="blockcain-top-content">
                  <p>
                    At EOB Corporation, it is important for us to provide complete transparency in an often cloudy industry. That is why we go over and above to make ourselves available to fulfil the needs of our clients and continue to deliver an exceptionally reliable service.
                  </p> <p>
                    Understanding that our clients’ trust must be earned is what sets us apart from other brokers. As such, we stand to offer our clients the best service possible, actively promoting integrity and ethical practices throughout the FOREX industry.
                  </p><p> 
                    Strong from our reputation of integrity, we proudly align our interests with that of our clients and hold ourselves completely accountable for our offering, ensuring our high standards are never compromised.
                    
                     
                  </p>
              </div>
          </div>
      </div>
<br><br>
      <div class="row">
        <div class="col-md-3 wow fadeInUp" data-wow-duration="1.5s">
            <div class="blockcain-top">
                <h2 class="column-title">Standards and Safety
                </h2>
            </div>
        </div><!-- col end -->
        <div class="col-md-8 offset-md-1 wow fadeInUp" data-wow-duration="2s">
            <div class="blockcain-top-content">
                <p>
                    As a leading company, we uphold the highest standards of ASIC regulation and compliance, which are considered to be the global regulatory benchmark.

                    We are also strictly audited by KPMG and keep all clients’ funds in a segregated trust account with the National Australia Bank (NAB) to ensure your money is protected.
                                        
                </p>
            </div>
        </div>
    </div>
    <br><br>
      <div class="row">
        <div class="col-md-3 wow fadeInUp" data-wow-duration="1.5s">
            <div class="blockcain-top">
                <h2 class="column-title">Managing Investment Portfolio
                </h2>
            </div>
        </div><!-- col end -->
        <div class="col-md-8 offset-md-1 wow fadeInUp" data-wow-duration="2s">
            <div class="blockcain-top-content">
                <p>
                    All investment portfolios managed by EOB Corporation are tailor made accordingly to suit every different individual requirement. The objective is to design and allocate funds according to investors’ risk tolerance, time frame and investment objectives. Usually to select more efficient solutions that are available and preferred by considering a tradeoff between risk and return.
                </p><p>
                    In EOB Corporation managed portfolios, there are several methods for calculating portfolio returns and performance, however, the true time-weighted method is a method preferred by many investors in financial markets.                  
                </p>
            </div>
        </div>
    </div>

  </div>
</section>            <!-- blockcain section end -->

            <!-- featured section start -->
            <section class="featured-sec" id="featured">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto">
              <div class="section-title-item">
                  <small class="xs-section-title">Trading Servers</small>
                  <h2 class="section-title">Our Trading Servers</h2>
              </div>
          </div>
      </div><!-- row end -->
      <div class="main-fetured-item">
          <div class="row">
              <div class="col-md-12 wow fadeInUp" data-wow-duration="1.0s">
                  <div class="single-feaured-item">
                      <img src="{% static 'assets/landing/images/map.png' %}" alt="">             
                  </div>
              </div><!-- col end -->
          </div><!-- row end -->
      </div><!-- main-fetured-item end -->

      <div class="featured-poligonal-img wow fadeInUp" data-wow-duration="1.5s">
         <img class="poligonal-img" src="{% static 'assets/landing/images/feature/poligonal.png' %}" alt="">
      </div>


</section>            <!-- featured section end -->
        </div>
        <div class="blockcain-and-logo-area">
            <!-- blockcain business section start -->
            <section class="blockcain-business-sec">
  <div class="container">
      <div class="row">
          <div class="col-md-10 col-lg-10 offset-lg-1 wow fadeInUp" data-wow-duration="2s">
              <div class="blockcain-content">
                  <h3 class="column-title">Trading Servers</h3>
                 
      <p>
        EOB Corporation are recognised as a technological industry leader, and as such have our live trading servers now located in the major financial hubs of both London and New York.
      </p><br><p>
        From these trading servers, ECN market liquidity is sourced and streamed into our clients’ MT4 accounts. We have dedicated a lot of time and resources into researching where our clients would gain the biggest advantage in the market, and from a global trading point of view, this is a London/New York combination.
      </p><br><p>
        With further ongoing enhancements to the EOB Corporation trading network of servers and data centres, including updates to both hardware and physical locations, our’s industry position can only go from strength to strength.
        
        All clients of EOB Corporation will benefit from the super-fast and most importantly, stable trading conditions that this server combination offers. Experience the technological different at EOB Corporation today!
      </p>
      
      <h3 class="feature-title">
        A strategic partnership with Equinix provides EOB Corporation with a fibre optic network solution which connects our trading servers worldwide.

      </h3>
      <p>

         A strategic partnership with Equinix provides EOB Corporation with a fibre optic network solution which connects our trading servers worldwide.
         This guarantees lightning fast execution on every trade. Our partnership with Equinix, the world leader in trading server technology, gives us a technical edge over the competition.
      </p>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="2s">
        <div class="row chart-gap">
            <div class="col-sm-5 ml-lg-auto">
                <img src="{% static 'assets/landing/images/servers.png' %}" alt="">
        
            </div> <!-- Col End -->
            <div class="col-sm-5">
                <ul class="chart-label">
                    <br><br><br>
                    <li>
                        <span class="chart-bg1">99.00 %</span> Stable MT4 Uptime
                    </li>
                    <li>
                        <span class="chart-bg2">78 %</span> Improved execution speed
                    </li>
                    
                </ul>
            </div> <!-- Chart Label End -->
        
        </div> <!-- Row End -->
        </div> <!-- Col End -->
        </div> <!-- Row End -->
  </div>
</section>            <!-- blockcain business section end -->


            <!-- featured section start -->
            <section class="featured-sec" id="featured">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="section-title-item">
                                <small class="xs-section-title">EOB Corporation</small>
                                <h2 class="section-title">Our Regulations</h2>
                            </div>
                        </div>
                    </div><!-- row end -->
                    <div class="main-fetured-item">
                        <div class="row">
                            <div class="col-md-4 wow fadeInUp" data-wow-duration="1.5s">
                                <div class="single-feaured-item">
                                    <img src="{% static 'assets/landing/images/NAB.png' %}" alt="">
                                    <h3 class="feature-title">
                                        NATIONAL AUSTRALIA BANK
                                    </h3>
                                    <p>
                                        Clients’ funds are held in a segregated account with Australia’s AA rated National Australia Bank (NAB). NAB are one of the 4 largest financial institutions in Australia with a market capitalisation of $93 billion and over 12 million customers, they constantly rank in the top 20 list of safest banks in the world.                                  </p>
                                </div>
                            </div><!-- col end -->
                            <div class="col-md-4 wow fadeInUp" data-wow-duration="2s">
                                <div class="single-feaured-item">
                                    <img src="{% static 'assets/landing/images/ASIC.png' %}" alt="">
                                    <h3 class="feature-title">
                                        ASIC REGULATED
                                    </h3>
                                    <p>
                                        EOB Corporation fully complies with strict financial regulations set out by the Australian Securities and Investment Commission (ASIC). We strives to provide transparent and fair access to global Forex markets.

                                    </p>
                                </div>
                            </div><!-- col end -->
                            <div class="col-md-4 wow fadeInUp" data-wow-duration="2.5s">
                                <div class="single-feaured-item">
                                    <img src="{% static 'assets/landing/images/indemnity.png' %}" alt="">
                                    <h3 class="feature-title">
                                        INDEMNITY INSURANCE
First to Market Services                      </h3>
                                    <p>
                                        In accordance with ASIC Regulatory Guide RG126 and Section 912B of the Corporations Act, we have Professional Indemnity Insurance in place which covers the work done by our representatives, employees and authorised representatives.

                                    </p>
                                </div>
                            </div><!-- col end -->

                            <div class="col-md-12 wow fadeInUp" data-wow-duration="2.5s">
                                <br><br> <center><h3 class="feature-title">
                                    Liquidity Partners                    </h3></center>

                                <div class="single-feaured-item">
                                    <img src="{% static 'assets/landing/images/liquidity_partners.png' %}" alt="">


                                </div>
                            </div><!-- col end -->

                        </div><!-- row end -->
                        
                    </div><!-- main-fetured-item end -->
              
                    <div class="featured-poligonal-img wow fadeInUp" data-wow-duration="1.5s">
                       <img class="poligonal-img" src="{% static 'assets/landing/images/feature/poligonal.png' %}" alt="">
                    </div>
                    
               
                </div>
              </section>            <!-- featured section end -->


            
        </div>
    </div>


    <div class="how-work-and-token-area">
        <!-- how work section start -->
        <section class="how-work-sec section-padding" id="how_work">
  <div class="container">
     <div class="row">
          <div class="col-lg-8 mx-auto">
              <div class="section-title-item">
                  <small class="xs-section-title">Policies</small>
                  <h2 class="section-title">AML & KYC Policies</h2>
              </div>
          </div>
      </div><!-- row end -->
      <div class="row">
          
              </div>
          </div><!-- col end -->
          <div class="col-lg-10 offset-lg-1 col-md-6 align-self-center wow fadeInUp" data-wow-duration="2s">
            <div class="work-token-item">
                <ul>
                    <li>
                       <strong>“Anti-Money Laundering”                    </strong>
                       <span> Money Laundering is the process by which individuals attempt to conceal the origin and ownership of proceeds of illegal activity. Generally, money laundering involves any financial transaction:

                        Using funds derived from criminal activity; or
                        
                        Conducted to facilitate or conceal criminal activity.
                        
                        Money laundering activity is highly regulated by global and international legislation therefor any Company is strongly advised to implement AML Code of Practice, to avoid legal procedures and sanctions in the future.
                        
                        The risk of Money Laundering by criminal elements through the company is the exploitation of the deposit/withdraws procedures made available by the Company, and the opportunity to present to law enforcement and tax entities that the source of the funds coming from the Company, is profit made in the Forex Markets.
                        
                        For example– If the Company would allow a deposit of one entity to be credited to another entity’s trading account, then the entity that owns the trading account can withdraw those funds to its own bank account, and report them as profits. This will disconnect the flow of funds from the depositing entity to the withdrawing entity. Criminal elements may use that option to transfer funds undetected by law enforcement agencies and conceal the true origin of the funds. The same applies to transfer of credit between accounts belong to different entities etc.
                        
                        To avoid such abuse of the Company, the rule of thumb is not to allow the transfer of funds between different entities. For that, the Company must implement KYC (“know Your Client“) procedures.</span>
                    </li>
                    <li>
                        <strong> “Know Your Client” 
                            </strong>
                        <span> <h4>Procedures</h4>
                            1.The customers of the Company are subdivided in two categories:<br>
                            - Private Customers (natural persons) residents of any country.<br>
                            - Corporate Customers (legal entities) residents of any country.<br><br>

                            2.If the customer is a private person (natural person) the following documents must be collected:
                            Full name details. <br>
                            ID number, and/or passport number (original or certified copies).<br>
                            Proof of residency– Copy of utility bill.<br>
                            Swift confirmation of the bank transfer. The information of the bank account showed on the SWIFT must be identical to (a) and (b) above. Otherwise, the deposit must be returned to the same bank account it came from, immediately, without crediting the trading account.<br><br>
                            3.Withdrawals must be made to the same bank account the money was deposited from (to prevent money transfer between different entities’ bank accounts, through the Company), and in the same currency (to prevent currency changes through the Company).<br><br>
                            4.If the original account is no longer available, funds may be transferred to a different account of the same entity (you will need to get a copy of a check or other instrument proving the new account ownership), in the same currency and into the same country the original deposit was made from.<br><br>
                            5.If the customer is a corporation (legal entity) the following documents must be collected:<br>
                            All statutory documents (Certificate of incorporation, memorandum and articles of association), and amendments to them (original or certified copies).<br>
                            Details on the shareholders, directors and ultimate beneficial owners (same details as those for natural persons described below).<br>
                            Powers of attorney for the persons carrying out interaction with the Company on behalf of the Customer (issuing orders, signing documents for opening the account and other procedures).<br>
                            Swift confirmation of the bank transfer. The information of the bank account showed on the SWIFT must be identical to (a) and (b) above. Otherwise, the deposit must be returned to the same bank account it came from, immediately, without crediting the trading account.</span>
                    </li>
                </ul>
            </div>
          </div><!-- col end -->
        </section> 
      </div><!-- row end -->

       <!-- how work section end -->
       
  </div>

{% endblock %}